<div class="jumbotron">
  <h1 class="display-4">Stuck In The Mud</h1>
  <p class="lead">This is a simple dice game, where you score as many points as you can before your dice get stuck in the mud.</p>
  <hr class="my-4">
  <%= render partial: 'new_roll' %>
</div>
